@model List<CoderGirl_MVCMovies.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
<a asp-controller="Movie" asp-action="Create">Add New Movie</a>
<table>
    <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Year</th>
    </tr>
    @foreach (var movie in Model)
    {
    <tr>
        <td>@movie.Name</td>
        <td>@movie.Director</td>
        <td>@movie.Year</td>
        <td><a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">Edit</a></td>
        <td><a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></td>
    </tr>
    }
</table>
