@model List<CoderGirl_MVCMovies.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>
<a asp-controller="Movie" asp-action="Create">Add New Movie</a>
<table>
    <tr>
        <th>Movie Name</th>
        <th>Director</th>
        <th>Year</th>
        <th>Average Rating</th>
        <th>Number of Ratings</th>
    </tr>
    @foreach (var movie in Model)
    {
    <tr id="@movie.Id">
        <td>@movie.Name</td>
        <td>@movie.DirectorName</td>
        <td>@movie.Year</td>
        @if (movie.Ratings.Count > 0)
        {
            <td>@movie.Ratings.Average()</td>
        }
        else
        {
            <td>none</td>
        }
        <td>@movie.Ratings.Count</td>
        <td><a asp-controller="Movie" asp-action="Edit" asp-route-id="@movie.Id">Edit</a></td>
        <td><a asp-controller="Movie" asp-action="Delete" asp-route-id="@movie.Id">Delete</a></td>
        <td><a asp-controller="MovieRating" asp-action="Create" asp-route-movieId="@movie.Id">Rate</a></td>
    </tr>
    }
</table>
